Django==5.1.3
python-decouple==3.8
Markdown==3.7
langchain
langchain-community
langchain-ollama
langchain-chroma
chromadb
fastembed
databricks-langchain==0.1.0

# Loaders de documentos
unstructured
python-docx
pypdf
pandas